@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Comic+Neue:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/*Fonts*/
.modern {
  font-family: "Baloo Thambi 2", cursive;
}

.primary-font {
  font-family: 'Josefin Sans', sans-serif;
}

/*FONT WEIGHT*/
.bold {
  font-weight: 700;

}

/*FONT-SIZES*/
.titleFont {
  font-size: 1rem;
}

.afterFont {}

.descriptionFont {}

.notice {
  font-size: 0.2rem;
}

/*Colors*/
.greyFont {
  color: #747373;
}

.whiteFont {
  color: white;
}

.violet-color {
  color: #555CC8;
}

/*Backgrounds*/

.violet-bg {
  background-image: linear-gradient(109.6deg, rgba(125, 89, 252, 0.8) 11.2%, #7279ff 91.1%);
}

.yellow-bg {
  background-color: #FFC756;
}

.blue-bg {
  background-color: #74ECFB;
}

.light-green-bg {
  background-color: #A4DCB4;
}

.primaryTheme {
  background-image: linear-gradient(109.6deg, rgba(125, 89, 252, 0.8) 11.2%, #7279ff 91.1%);
}

.secondary {
  background: linear-gradient(90deg,
      rgba(249, 181, 27, 1) 35%,
      rgba(247, 208, 80, 1) 87%);
}

/*Functions and Icons*/
.closingIcon {
  cursor: pointer;
}

/*Dropdown Classes */

.dropleft .dropdown-toggle::before {
  display: none;
}

.dropdown-toggle:after {
  display: none;
}

/*Animation Classes*/


/*Animation Keyframes*/