.navigation-inner-container {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    padding: 0;
}

.nav-link {
    padding: 1rem;
    padding-top: 1.1rem;
    padding-bottom: calc(1.1rem + 4px);
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    cursor: pointer;
    border: 4px solid transparent;
}

.nav-link-active {
    transition: 3s all;
    background-color: white;
    padding-top: 1.1rem;
    animation: change-color-navigation 1s;
    border-top: 4px solid #555CC8;

}

.dropdown-item {
    cursor: pointer;

}

/*MEDIA QUERRIS*/
@media only screen and (max-width: 991px) {

    .navbar {
        padding-left: 16px;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
    }

    .nav-link-active {
        transition: 0s all;
        border: 4px solid transparent;
        animation: none;
    }
}

/*phone*/
/*Page Animation*/
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

/*Animations*/
@keyframes change-color-navigation {
    from {
        border-top: 4px solid transparent;
    }

    to {
        border-top: 4px solid #555CC8;
    }
}